@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}


.color-palet:hover .color-palet-hexadecimal{
  opacity: 100;
}

input[type="color"] {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;               
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
